<template>
  <gl-new-dropdown text="Some dropdown">
    <gl-new-dropdown-item>First item</gl-new-dropdown-item>
    <gl-new-dropdown-item>Second item</gl-new-dropdown-item>
    <gl-new-dropdown-divider />
    <gl-new-dropdown-item>Third item</gl-new-dropdown-item>
    <gl-new-dropdown-item>Fourth item</gl-new-dropdown-item>
  </gl-new-dropdown>
</template>
