<template>
  <div class="text-center">
    <gl-deprecated-button variant="primary">
      To-Do <gl-deprecated-badge variant="light">42</gl-deprecated-badge>
    </gl-deprecated-button>
  </div>
</template>
