/**
* Cursor utilities
*
* naming convention: gl-cursor-{property-value}
*/
@mixin gl-cursor-default {
  cursor: default;
}

@mixin gl-cursor-pointer($hover: true) {
  cursor: pointer;
}

@mixin gl-cursor-grab {
  cursor: grab;
}

@mixin gl-cursor-not-allowed {
  cursor: not-allowed;
}

@mixin gl-cursor-text {
  cursor: text;
}
