.gl-pagination {
  @include gl-font-base;

  a {
    @include gl-text-gray-900;
  }

  .page-link {
    @include gl-border-gray-200;
    @include gl-line-height-normal;

    &:not(.active):hover {
      @include gl-text-gray-900;
      @include gl-bg-gray-100;
      @include gl-tmp-button-secondary-hover($gray-400);
      @include gl-z-index-0;
    }
  }

  &:not(.pagination-lg):not(.pagination-sm) .page-link {
    @include gl-px-4;
    @include gl-py-3;

    &.prev-page-item,
    &.next-page-item {
      @include gl-px-3;
    }
  }

  .page-item {
    &:not(.disabled) a.active {
      @include gl-bg-blue-500;
      @include gl-border-blue-600;
      @include gl-z-index-2;
    }

    &.disabled .page-link {
      @include gl-bg-gray-10;
      @include gl-border-gray-200;
      @include gl-text-gray-400;
    }
  }

  .prev-page-item,
  .next-page-item {
    .gl-icon {
      vertical-align: bottom;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .gl-pagination:not(.custom-rendering) {
    .prev-page-item,
    .next-page-item {
      span {
        display: none;
      }
    }
  }
}
