<template>
  <gl-button-group>
    <gl-deprecated-button variant="primary">primary</gl-deprecated-button>
    <gl-deprecated-button variant="secondary">secondary</gl-deprecated-button>
    <gl-deprecated-button variant="warning">warning</gl-deprecated-button>
    <gl-deprecated-button variant="danger">danger</gl-deprecated-button>
    <gl-deprecated-button variant="link">link</gl-deprecated-button>
  </gl-button-group>
</template>
